.headerBar {
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-image: -moz-linear-gradient(top,#135a97,#337ab7);
    background-image: -webkit-linear-gradient(top,#135a97,#337ab7); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
    background-image:         linear-gradient(to bottom,#135a97,#337ab7); /* Chrome 26, Firefox 16+, IE 10+, Opera */
    z-index: 10;
    color: #eeeeee;
    padding: 10px 30px;
    white-space: nowrap;
    overflow: hidden;
}

.headerBar a, headerBar a:visited, headerBar a:hover {
    color: #eeeeee;
}

.essLink {
    position: fixed;
    top: 0;
    right: 0;
    width: 210px;
    height: 130px;
    padding: 15px;
    background-image: -moz-linear-gradient(top,#135a97, #337ab7 15px,#539ad7);
    background-image: -webkit-linear-gradient(top,#135a97,#337ab7); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
    background-image:         linear-gradient(to bottom,#135a97,#337ab7); /* Chrome 26, Firefox 16+, IE 10+, Opera */
    z-index: 10;
    border-radius: 0 0 0 10px;
}

.essLink img {
    background-color: rgba(255,255,255,0.7);
    border-radius: 5px;
}

.bottomNav {
    margin-bottom: 0;
    border-radius: 0;
    background-image: -moz-linear-gradient(top,#135a97,#337ab7);
    background-image: -webkit-linear-gradient(top,#135a97,#337ab7); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
    background-image:         linear-gradient(to bottom,#135a97,#337ab7); /* Chrome 26, Firefox 16+, IE 10+, Opera */
}

.bottomNav.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-image: -moz-linear-gradient(top,#337ab7,#539ad7);
    background-image: -webkit-linear-gradient(top,#135a97,#337ab7); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
    background-image:         linear-gradient(to bottom,#135a97,#337ab7); /* Chrome 26, Firefox 16+, IE 10+, Opera */
    }



.vife_icons > li {

}

.vife_icon {
    text-align: center;
    font-size: 2em;  
    height: 90px; 
    padding: 10px;     
}

.vife_iconText {
    display: block;
    margin: 20px 20px 10px;
    font-size: 16px;
}

a.vife_more {
    display: block;
    color: #337ab7;
    background-position: center center;
    background-repeat: no-repeat;
    height: 30px;
}

a.vife_werkzeuge {
    display: block;
    color: #666666;
    margin-top: 10px; 
    background-position: center center;
    background-repeat: no-repeat;
    height: 30px;
}

a.vife_werkzeuge2 {
    display: block;
    color: #666666;
    background-position: center center;
    background-repeat: no-repeat;
    height: 30px;
}

.vife_teamMember {
    /*background-image:url(http://www.jellythemes.com/themes/orion_wp/wp-content/themes/orion1.3/img/team/team_02.png);
    background-position: center;
    background-repeat: no-repeat;*/
    height: 220px;
}

/*
.vife_projects {
    margin-top: 30px; 
    background-image: url('img/beethoven.png');
    background-position: center center;
    background-repeat: no-repeat;
    height: 105px
}
*/

.well.vife_project {
    height: 260px;
}

.well.tool {
    min-height: 250px;
}

.well.vife_project h3, .well.tool h3 {
    margin-top: 0;
}

.well.vife_project .imgBox, .well.tool .imgBox {
    margin: 10px auto;
    text-align: center;
}

.well.tool .imgBox {
    display: none;
}

.well.vife_project img, .well.tool img {
    max-width: 280px;
    max-height: 100px;
}

.well.tool.external_tool {
    background: repeating-linear-gradient(
        150deg,
        #f5f5f5,
        #f5f5f5 20px,
        #f9f9f9 20px,
        #f9f9f9 40px
      );
}

p.lead {
    text-align: justify;
}

.vife_contact_icon  {
    margin-right: 10px;
}
