[submodule "llb-bargheer"]
	path = llb-bargheer
	url = https://github.com/Edirom/Bargheer-Website.git
[submodule "edirom-projekt"]
	path = edirom-projekt
	url = https://github.com/Edirom/Edirom-Projekt.git
